<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Generator</title>
</head>
<body>
    <form method="POST" action="workshop/processNumber">
        <div class="mb-3">
            <label for="" class="form-label">Input a number between 1 and 20:</label>
            <input type="number" class="form-control" name="inputNum" id="" aria-describedby="helpId" placeholder="" min="1" max="20">
            <br>
            <small id="helpId" class="form-text text-muted">Only enter number between 1 and 20</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br><br>
</body>
</html>